@tailwind base;
@tailwind components;
@tailwind utilities;

/* bimeow */

strong {
	font-weight: 700;
}

@layer base {
	html,
	body {
		@apply bg-[#000] font-Lato text-[16px] font-normal leading-[1.1] text-[#fff] antialiased;
	}
}

.fadeUp,
.fadeDown,
.fadeRight,
.fadeLeft,
.fadeIn,
.fadeInTopPage,
.fadeUpTopPage,
.fadeDownTopPage,
.fadeRightTopPage,
.fadeLeftTopPage {
	opacity: 0;
}

* {
	&::-webkit-scrollbar {
		width: 4px !important;
		height: 4px !important;
		-webkit-border-radius: 20px;
		border-radius: 20px !important;
	}
	&::-webkit-scrollbar-track {
		background: #0000;
		-webkit-border-radius: 20px;
		border-radius: 20px !important;
	}
	&::-webkit-scrollbar-thumb {
		background: #ed1c24;
		-webkit-border-radius: 20px;
		border-radius: 20px !important;
	}
	::-webkit-scrollbar-button {
		display: none;
	}
}

html,
body,
.hideScrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@layer base {
	.cusContainer {
		@apply mx-auto w-[92%] tl-l:w-full tl-l:px-[20px];
	}

	.secSpacing {
		@apply mb-[50px] tl-p:mb-[40px];
	}

	.flexCenter {
		@apply flex items-center justify-center;
	}

	.cusInput {
		@apply w-full !border-none bg-transparent p-[5px] text-[18px] !shadow-none !ring-0 placeholder:text-inherit mb:text-[16px];
	}

	.absFull {
		@apply absolute left-0 top-0 size-full;
	}

	.mainBtn {
		@apply relative cursor-pointer rounded-[4px] bg-white px-[26px] py-[9px] text-center text-[20px] font-medium text-black duration-500 hover:opacity-75;
	}

	.secBtn {
		@apply relative cursor-pointer rounded-[4px] bg-[rgba(109,109,110,0.7)] px-[26px] py-[9px] text-center text-[20px] font-medium text-white duration-500 hover:opacity-75;
	}

	.cusInput {
		@apply w-full rounded-[10px] !border-none bg-white px-[15px] py-[10px] text-[16px] leading-[1] text-[#333] !outline-none !ring-0 placeholder:text-[#979797];
	}

	.errors {
		@apply text-red absolute left-[20px] top-full translate-y-[3px] text-[8px];
	}

	.secTitle {
		@apply text-[40px] font-bold uppercase tl-p:text-[32px];
	}

	.cusGhostCollapse {
		@apply font-Lato text-[20px];
	}

	.cusIcon {
		@apply cursor-pointer text-white duration-300 hover:text-red-primary;
	}
}

.char {
	@apply opacity-0;
}

.textShadow {
	text-shadow: 2px 2px 2px #fff;
}

.textStroke {
	-webkit-text-stroke: 4px #666;
}

.cusPagin {
	align-items: center;

	.ant-pagination-prev,
	.ant-pagination-next,
	.ant-pagination-item {
		background: white;
		border: 1px solid #f1f1f1;
		border-radius: 100px;
		width: 44px;
		height: 44px;
		color: #333;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background: #f58220 !important;
			color: #fff;
		}
	}

	.ant-pagination-prev {
		transform: rotate(90deg);
	}

	.ant-pagination-next {
		transform: rotate(-90deg);
	}

	.ant-pagination-item {
		a {
			color: #333;
		}
	}

	.ant-pagination-item-active {
		background: #ed1c24;
		border: none !important;

		a {
			color: #fff;
		}

		&:hover {
			background: #ed1c24 !important;
			color: #fff !important;
			a {
				color: #fff !important;
			}
		}
	}

	.ant-pagination-item-ellipsis {
		color: #333 !important;
	}

	.anticon-double-right {
		color: #ed1c24 !important;
	}
}

.cusGhostCollapse {
	.ant-collapse-item {
		padding-bottom: 20px;
		border-bottom: #fff 1px solid;
		margin-bottom: 20px;
	}

	.ant-collapse-header {
		padding: 0 !important;
		align-items: center !important;
	}

	.ant-collapse-content-box {
		padding: 0 !important;
		margin-top: 20px;
	}
}

.swiper-slide {
	height: auto;
}

.swiper-button-lock,
.swiper-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.nav-icon {
	width: 15px;
	height: 15px;
	position: relative;
	transition: 0.1s;
	cursor: pointer;

	&:hover span {
		background-color: #e50914;
		transform: scale(1.2);
	}

	span {
		width: 3px;
		height: 3px;
		background-color: #fff;
		display: block;
		position: absolute;
		transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
	}

	span:nth-child(1) {
		left: 0;
		top: 0;
	}
	span:nth-child(2) {
		left: 6px;
		top: 0;
	}
	span:nth-child(3) {
		right: 0;
		top: 0;
	}
	span:nth-child(4) {
		left: 0;
		top: 6px;
	}
	span:nth-child(5) {
		position: absolute;
		left: 6px;
		top: 6px;
	}
	span:nth-child(6) {
		right: 0px;
		top: 6px;
	}
	span:nth-child(7) {
		left: 0px;
		bottom: 0px;
	}
	span:nth-child(8) {
		position: absolute;
		left: 6px;
		bottom: 0px;
	}
	span:nth-child(9) {
		right: 0px;
		bottom: 0px;
	}
	&.open {
		transform: rotate(180deg);
		cursor: pointer;
		transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	}
	&.open span {
		border-radius: 50%;
		transition-delay: 200ms;
		transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	}
	&.open span:nth-child(2) {
		left: 3px;
		top: 3px;
	}
	&.open span:nth-child(4) {
		left: 3px;
		top: 9px;
	}
	&.open span:nth-child(6) {
		right: 3px;
		top: 3px;
	}
	&.open span:nth-child(8) {
		left: 9px;
		bottom: 3px;
	}
}

.listMoviesSwiper {
	.swiper-pagination {
		width: fit-content !important;
		height: fit-content !important;
		top: -30px !important;
		right: 0 !important;
		left: auto !important;
	}
	.swiper-pagination-bullet {
		width: 12px;
		height: 2px;
		border-radius: 0 !important;
		background: #aaa;
		margin: 0 1px !important;
	}
}

.swiper-button-disabled {
	opacity: 0 !important;
}
